@import 'variables';

.navigation__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    position: fixed;
    z-index: 99;
    right: 5px;
    top: 75px;
    background-color: $dark-color;
    border: 1px solid $light-color;
    a {
        color: $font-color;
        text-decoration: none;
        line-height: 1.8em;
        border-bottom: 1px solid $light-color;
        &:last-of-type {
            border: none;
        }
    }
}
@media screen and (min-width: 1024px) {
    .navigation__container {
        flex-direction: row;
        position: relative;
        right: auto;
        top: auto;
        border: none;
        a {
            border: none;
            margin: 0 0 0 10px;
            padding-right: 10px;
            border-right: 1px dotted $light-color;
        }
    }
    .header__menu_icon {
        display: none;
    }
}