@import 'variables';

.navigation__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    position: fixed;
    right: 5px;
    top: 75px;
    background-color: $dark-color;
    border: 1px solid $light-color;
    z-index: 9;
    a {
        color: $font-color;
        text-decoration: none;
        line-height: 1.8em;
        border-bottom: 1px solid $light-color;
        &:last-of-type {
            border: none;
        }
    }
}